@model NEWAPP.Models.city
@{
	ViewData["Title"] = "CityNY";
}


<div class="image">

	
	<label class="top-left" asp-for="Name">Name</label>
	<span class="badge alert-primary">@Model.Name</span>
	<br />


	<label asp-for="Temperature">Temperature </label>
	<span class="badge alert-primary">@Model.Temperature</span>

	<br />

	<label asp-for="Humidity">Humidity</label>
	<span class="badge alert-primary">@Model.Humidity</span>

	<br />

	<label asp-for="Pressure">Pressure</label>
	<span class="badge alert-primary">@Model.Pressure </span>

	<br />

	<label asp-for="Wind"> Wind </label>
	<span class="badge alert-primary">@Model.Wind </span>

	<br />

	<label asp-for="Weather">Weather</label>
	<span class="badge alert-primary">@Model.Weather </span>

	<br />

</div>

<form method="get">
	<button onclick: asp-controller="Home" asp-action="" class="btn btn-primary">Go Back</button>
</form>
@*<img src="https://media.gq-magazine.co.uk/photos/5d13a9c2976fa37177f3b040/4:3/w_1704,h_1278,c_limit/hp-gq-6dec18_istock_.jpg" alt="snow">*@


